
/*Setting up webpage*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  /* Setting up body*/
  body {
    background-color: #080808;
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /*Styling Header*/
  #header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/dev.png);
    background-size: cover;
    background-position: center;
  }
  
  .header__container {
    padding: 5px 5%;

    .header__nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      .container__logo {
        width: 240px;
      }

      .header__nav--item {
        display: inline-block;
        list-style: none;
        margin: 10px 20px;

        .nav--item__link {
          color: #ffffff;
          text-decoration: none;
          font-size: 18px;
          position:relative;

          &::after {
            content: '';
            width: 0%;
            height: 3px;
            background-color: #4dc0f6;
            position: absolute;
            left: 0;
            bottom: -6px;
            transition: 0.5s;

            
          }

          &:hover::after {
            width: 100%;
          }
        }
      }
    }

    .header__title {
      margin-top: 8%;
      font-size: 30px;
      &:nth-child(2) {
        font-size: 60px;
        margin-top: 20px;
      }
    }
  }